

.nav-link {
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    padding: 8px 20px;
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    background-color: #20a763;
  }

  .link {
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    padding: 5px 20px;
    text-decoration: none;
    letter-spacing: 1px;
    color: black;
  }

.heading {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
}

.heading2 {
    font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  color: #2C3E50;
}

.para {
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2C3E50;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}

.background > img {
    width: 85%;
}

.aboutUs{
    text-align: center;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 30px;
    color: #2C3E50;
}

.about {
    width: 50%;
    text-align: center;
    transform: translateX(50%);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #2C3E50;
}


@media (max-width: 600px) {
    .about {
        width: 100%;
        transform: none;
    }
    .background > img {
        width: 100%;
    }
}